body{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
}

/*********section one********/
.one{
    background-color: black;
    color: white;
    width: 100%;
    margin: auto;
    height: 615px;
    
}
.one h1{
    font-size: 70px;
}
.one h2{
    font-size: 40px;
}
.one img{
    width: 45%;
    margin-left: 100px;
    height: 100%;
    float: right;
}
.one p{
    font-size: 30px;
    font-weight: 100;
}
.one #black{
    background-color: aquamarine;
    color: black;
    padding: 20px;
    width: fit-content;
    font-weight: bold;
    border-radius: 40px;
}
/**************section two*************/
.two{
    background-color: antiquewhite;
    color: black;
    width: 100%;
    margin: auto;
    height: fit-content;
}
.two h1{
    font-size: 45px;
    margin-bottom: 20px;
    margin-left: 100px;
    justify-content: baseline;
}
.two p {
    font-size: 24px;
    margin-top: -150px;
    margin-left: 800px;
    justify-content: baseline;
}
.two img{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    display: block;
}
/*************section 3****************/
.three{
    background-color: aliceblue;
    color: black;
    width: 100%;
    margin: auto;
    height: 750px;
    text-align: center;
}
.three h1{
    font-size: 52px;
}
.three img{
    width: 350px;
    width: 350px;
    height: 350px;
    height: 425px;
    display: inline-block;
    padding: 0 25px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.content{
    text-align: center;
}
.content h2{
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 10px;
    padding: 0 90px;
    display: inline-block;
.content p {
    font-size: 18px;
    font-weight: 100;
    padding: 0 150 px;
    display: inline-block;
}